@import "tailwindcss";

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

*[data-tauri-drag-region] {
  app-region: drag;
}

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --color-bg: #eeebe2;
  --color-main: #080909;
  --color-caret: #7fa480;
  --color-caret-deep: #55765c;
  --color-sub: #99947f;
  --color-sub-alt: #d3cfc1;
  --color-ink: #6b6755;
  --color-chip: #59553f;
  --color-panel: #f4f1e7;
  --color-paper: #f7f5ec;
  --color-desk: #ece8da;
  --color-text: #080909;
  --color-error: #c87e74;
  --color-error-extra: #5b2f29;
  --color-colorful-error: #c87e74;
  --color-colorful-error-extra: #a56961;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
